HELP.md
.DS_Store
.venv/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Vaadin ###
package.json
package-lock.json
pnpm-lock.yaml
.npmrc
tsconfig.json
tsconfig.json.*.bak
types.d.ts
vite.config.ts
vite.generated.ts
/src/main/frontend/*
!/src/main/frontend/playground
/node_modules/
!/electron/package.json
!/electron/package-lock.json
/src/main/bundles/
/log
site/
__pycache__/
